<!doctype html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <title>Doxidize</title>
    <style>
        /* Shout-out to http://bettermotherfuckingwebsite.com/ for this CSS */
        body {
            margin: 40px auto;
            max-width: 650px;
            line-height: 1.6;
            font-size: 18px;
            color: #444;
            padding: 0 10px;
        }

        h1, h2, h3 {
            line-height:1.2
        }

        .anchorjs-link {
            color: #444;
        }

        blockquote {
            background: #f9f9f9;
            border-left: 10px solid #ccc;
            margin: 1.5em 10px;
            padding: 0.5em 10px;
        }

        blockquote:before {
            color: #ccc;
            font-size: 4em;
            line-height: 0.1em;
            margin-right: 0.25em;
            vertical-align: -0.4em;
        }

        blockquote p {
            display: inline;
        }
    </style>
</head>

<body>
    {{{ contents }}}
</body>

</html>